html {
  font-family: 'Rubik', sans-serif;
}

.section {
    width: 100%;
    height: 100%;
    color: white;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    cursor: pointer;
    border: 2px solid white;
    box-sizing: inherit;
    transition: all 0.5s;
  }

  .fp-tableCell {
    vertical-align: top;
  }
  
  #viewworkbutton {
  }
  
  #viewworkbutton:hover {
    background-color: #E9D985;
    border: none;
  }


  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slidertext {
  display: inline-block;
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 500;
  transform: translateY(10px);
  padding-left: 10px;
  padding-right: 10px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4361EE;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #560BAD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.webinfo {
  margin-top: 20px;
  text-align: center;
  margin-left: -4em;
  margin-bottom: 40px;
}

.info-wrap {
  display: inline-block;
  height: 200px;
  width: 250px;
  text-align: initial;
  line-height: 18pt;
}

.info {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.info-icon {
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}

.info-textwrap {
  margin-top: 20px;
  height: 150px;
  line-height: 19pt;
}

.info-title {
  color: #616161;
  font-size: 18pt;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.info-text {
  color: #616161;
  font-size: 12pt;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.webskills {
  color: #616161;
  font-family: 'Rubik', sans-serif;
}

.bar {
  width: 90%;
  height: 35px;
  background-color: #eee;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 20px;
}

.bar > .skill {
  background-color: #4895EF;
  width: 100px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  text-align: center;
  font-weight: 700;
}

.bar > .percent {
  width: 50px;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  color: #616161;
  text-align: center;
}

.bar > .fill {
  height: 35px;
}

.projectfilter {
  cursor: pointer; 
  font-size: 23px; 
  font-weight: 600; 
  color: black;
  display: inline-block;
  margin-right: 30px;
  width: 150px;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 100px;
}

.projectfilter.active {
  background-color: #4361EE;
  color: white;
}

#projectlist {
}

.projectrow {
  margin-bottom: 25px;
}

.projectbox {
  height: 300px;
}

.projectbox > img {
  height: 100%;
}

.projectinfo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  color: black;
  padding-top: 40px;
  display: none;
  font-family: 'Rubik', sans-serif;
}

.projectname {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

.projectskills {
  color: red;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

.projectlearnmore {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  width: 150px;
  color: black;
  height: 26px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

.projectlearnmore:hover {
  text-decoration: none;
  color: black;
  background-color: rgba(200,200,200);
}

.projectlearnmore > p {
  font-family: 'Rubik', sans-serif;
  border: 2px solid black;
}

#projectpopup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
}

.projectpopupwindow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50em;
  height: 43em;
  background-color: white;
}

.projectpopupwindow > img {
  width: 100%;
  height: 400px;
}

.projectpopuptitle {
  font-size: 32px;
  font-weight: 700;
  color: black;
  margin: 0;
  margin-left: 50px;
  font-family: 'Rubik', sans-serif;
}

.projectpopupshort {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  color: black;
  margin: 0;
  margin-left: 50px;
}

.projectpopupdescription {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  color: black;
  margin: 0;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.projectpopuplink {
  text-decoration: none;
  text-align: center;
  
}

.projectpopuplink:hover {
  text-decoration: none;
  color: white;
}

.projectpopuplink > p {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: #2196F3;
  margin: 0;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
}

.projectpopupclose {
  position: absolute;
  right: 20px;
  top: 10px;
  color: red;
  font-size: 34px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #2196F3 transparent transparent !important;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #2196F3 !important;
}

.fp-controlArrow {
  top: 60% !important;
}

.fp-slides {
  transform: translateY(60px);
}

.fp-tableCell {
  vertical-align: top !important;
  height: auto !important;
}

.webskillsbars > .bar > .fill {
  background-color: #4361EE;
}

.webskillbars > .bar > .skill {
  background-color: #4895EF;
}                             

.webskillinfo > .info {
  background-color: #4895EF;
}

.gameskillsbars > .bar > .fill {
  background-color: #560BAD;
}

.gameskillsbars > .bar > .skill {
  background-color: #6b22bf;
}

.gameskillinfo > .info {
  background-color: #6b22bf;
}


/*
  WIDESCREEN RESOLUTION
*/
@media only screen and (max-width: 3000px) and (min-width: 2000px) {
  .desktopOnly {
    display: block;
  }

  .mobileOnly {
    display: none;
  }

  .aboutmeheader {
    padding-top: 200px;
  }

  .aboutmetitle {
    margin: 0;
    margin-top: -100px;
  }

  .projectsheader {
    margin-bottom: -120px;
  }

  .contactheader {
    margin-top: 0px;
  }
}

/*
  Regular Resolution
*/

@media only screen and (max-width: 1921px) and (min-width: 800px) {
  .desktopOnly {
    display: block;
  }

  .mobileOnly {
    display: none;
  }

  .aboutmeheader {
    padding-top: 100px;
  }
  
  .aboutmetitle {
    padding-top: 20px;
    margin: 0;
  }

  .projectsheader {
    margin-bottom: -60px;
    padding-top: 0px;
  }

  .fp-controlArrow {
    margin-top: -100px;
  }

  #projectslides {
    margin-top: -120px;
  }

  .contactheader {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  #projects {
    margin-top: 50px;
    margin-bottom: 150px;
  }
}