<div class="splide__slide">
    <div class="container grid">
        <div class="row projectrow">
            <div class="col-4">
                <div class="projectbox" id="project1">
                    <img class="projectimage" src="https://media.istockphoto.com/vectors/creation-responsive-internet-website-for-multiple-platforms-building-vector-id1058262630?k=6&m=1058262630&s=612x612&w=0&h=E-wt8xHHdXxB9gQWd4fJarvztZc3Z144zGr9126CPBU=" style="width: 100%;">
                    <div class="projectinfo">
                        <p class="projectname">Slymes</p>
                        <p class="projectskills">Unity/C#</p>
                        <a class="projectlearnmore" onclick="ViewProject('project1')">
                            <p>
                                Learn More
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="projectbox" id="project2">
                    <img class="projectimage" src="https://media.istockphoto.com/vectors/creation-responsive-internet-website-for-multiple-platforms-building-vector-id1058262630?k=6&m=1058262630&s=612x612&w=0&h=E-wt8xHHdXxB9gQWd4fJarvztZc3Z144zGr9126CPBU=" style="width: 100%;">
                    <div class="projectinfo">
                        <p class="projectname">Project Name</p>
                        <p class="projectskills">HTML/CSS/JS</p>
                        <a class="projectlearnmore" onclick="ViewProject('project2')">
                            <p>
                                Learn More
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="projectbox" id="project3">
                    <img class="projectimage" src="https://media.istockphoto.com/vectors/creation-responsive-internet-website-for-multiple-platforms-building-vector-id1058262630?k=6&m=1058262630&s=612x612&w=0&h=E-wt8xHHdXxB9gQWd4fJarvztZc3Z144zGr9126CPBU=" style="width: 100%;">
                    <div class="projectinfo">
                        <p class="projectname">Project Name</p>
                        <p class="projectskills">HTML/CSS/JS</p>
                        <a class="projectlearnmore" onclick="ViewProject('project3')">
                            <p>
                                Learn More
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row projectrow">
            <div class="col-4">
                <div class="projectbox" id="project4">
                    <img class="projectimage" src="https://media.istockphoto.com/vectors/creation-responsive-internet-website-for-multiple-platforms-building-vector-id1058262630?k=6&m=1058262630&s=612x612&w=0&h=E-wt8xHHdXxB9gQWd4fJarvztZc3Z144zGr9126CPBU=" style="width: 100%;">
                    <div class="projectinfo">
                        <p class="projectname">Project Name</p>
                        <p class="projectskills">HTML/CSS/JS</p>
                        <a class="projectlearnmore" onclick="ViewProject('project4')">
                            <p>
                                Learn More
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="projectbox" id="project5">
                    <img class="projectimage" src="https://media.istockphoto.com/vectors/creation-responsive-internet-website-for-multiple-platforms-building-vector-id1058262630?k=6&m=1058262630&s=612x612&w=0&h=E-wt8xHHdXxB9gQWd4fJarvztZc3Z144zGr9126CPBU=" style="width: 100%;">
                    <div class="projectinfo">
                        <p class="projectname">Project Name</p>
                        <p class="projectskills">HTML/CSS/JS</p>
                        <a class="projectlearnmore" onclick="ViewProject('project5')">
                            <p>
                                Learn More
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="projectbox" id="project6">
                    <img class="projectimage" src="https://media.istockphoto.com/vectors/creation-responsive-internet-website-for-multiple-platforms-building-vector-id1058262630?k=6&m=1058262630&s=612x612&w=0&h=E-wt8xHHdXxB9gQWd4fJarvztZc3Z144zGr9126CPBU=" style="width: 100%;">
                    <div class="projectinfo">
                        <p class="projectname">Project Name</p>
                        <p class="projectskills">HTML/CSS/JS</p>
                        <a class="projectlearnmore" onclick="ViewProject('project6')">
                            <p>
                                Learn More
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>