.topsection {
  background-color: #31102F;
  background: radial-gradient(ellipse at center, #007991 0%, #222E50 100%);
}

#stars {
  display: block;
  position: relative;
  width: 100%;
  height: 16rem;
  height: 100vh;
  z-index: 1;
}